<header>
  <div class="container-header">
    <div class="header-title">
      <a href="/">
        <img src="icon-presente.png" alt="Logo de Presente do Site Amigo Secreto">
        <h1>Amigo Secreto</h1>
      </a>
    </div>
    <nav>
      <a href="/">
        <i class="fas fa-house"></i>
        <span>Início</span>
      </a>
      <a href="/">
        <i class="fas fa-users"></i>
        <span>Meus Grupos</span>
      </a>
      <a href="/">
        <i class="fas fa-question-circle"></i>
        <span>Como Funciona</span>
      </a>

      <button>
        <i class="fa-solid fa-right-to-bracket"></i>
        Entrar
      </button>
    </nav>
  </div>
</header>
