<footer>
  <div class="container-footer">
    <div class="footer-title">
      <a href="/">
          <img src="icon-presente.png" alt="Logo de Presente do Site Amigo Secreto">
          <h3>Amigo Secreto</h3>
      </a>
      <p>
        A maneira mais divertida de organizar seu amigo secreto com amigos, família ou colegas de trabalho.
      </p>
    </div>

    <div class="footer-links">
      <h3>Links úteis</h3>
      <div>
        <a href="/">
          Início
        </a>
        <a href="/">
          Meus Grupos
        </a>
        <a href="/">
          Como Funciona
        </a>
      </div>
    </div>

    <div class="footer-contact">
      <h3>Contato</h3>
      <div>
        <span>renanppcosta&#64;gmail.com</span>
        <a href="www.github.com/renanppcosta">Github: renanppcosta</a>
        <a href="https://www.linkedin.com/in/renan-costa-1a5539235/">Linkedin: Renan Costa</a>
      </div>
    </div>
  </div>
  <div class="footer-credit">
    <p>Feito por Renan Costa © 2025</p>
  </div>
</footer>
