<body>
  <app-header></app-header>
  <div class="layout">
    <main>
      <!-- conteúdo da página -->
       <app-banner></app-banner>
       <app-recent-groups-list></app-recent-groups-list>
    </main>

    <section class="start-group">
      <h4>Pronto para começar?</h4>
      <p>Crie seu primeiro grupo de amigo secreto agora mesmo e torne suas celebrações ainda mais especiais!</p>
      <button><i class="fa-solid fa-gift fa-sm" style="color: white;"></i> Criar Meu Primeiro Grupo</button>
    </section>
    <app-footer></app-footer>
  </div>
</body>

<!-- <router-outlet></router-outlet> -->
