<section class="banner">
    <div class="banner-content">
        <div class="banner-info">
        <h2>Organize seu <span style="color: #ff4000;">Amigo Secreto</span> de forma fácil e divertida!</h2>
        <p>Crie grupos, adicione participantes e realize o sorteio com apenas alguns cliques. Sem complicações, sem papéis, apenas diversão!</p>
        <div class="banner-info-btn">
            <button class="btn-create"><i class="fa-regular fa-square-plus"></i> Criar Grupo</button>
            <button class="btn-info">Como funciona <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
        <div class="banner-box">
            <i class="fa-solid fa-gift fa-4x" style="color: #ff4000;"></i>
            <h6>Amigo Secreto 2025</h6>
            <span>Comece a organizar agora mesmo e surpreenda a todos!</span>
            <button>Começar agora <i class="fa-solid fa-arrow-right"></i></button>
        </div>
    </div>
</section>
<section class="why-us">
    <h3>Por que usar nossa plataforma?</h3>
    <div class="features-container">
        <div class="features-card">
            <div>
                <i class="fa-solid fa-users " style="color: #ff4000;"></i>
            </div>
            <span>Grupos Ilimitados</span>
            <p>Crie quantos grupos quiser para família, amigos ou colegas de trabalho.</p>
        </div>

        <div class="features-card">
            <div>
                <i class="fa-regular fa-calendar fa-xl" style="color: #ff4000;"></i>
            </div>
            <span>Sorteio Automático</span>
            <p>Realize o sorteio com apenas um clique e notifique todos os participantes.</p>
        </div>

        <div class="features-card">
            <div>
                <i class="fa-solid fa-lock fa-xl" style="color: #ff4000;"></i>
            </div>
            <span>Totalmente Seguro</span>
            <p>Garantimos que ninguém saberá quem tirou quem, mantendo a surpresa.</p>
        </div>
    </div>
</section>